{% extends "layouts/columns-single.html" %}

{% block blog_header %}
  <div class="main_title">
  {% block content_title %}
    <h2 class="title is-4" itemprop="name headline">
      {{ headtitle }}</h2>
  {% endblock %}  
  </div>
{% endblock %}

{% block blog_body %}
  {% include 'index/blog-list.html' %}
{% endblock %}


