{% extends "layouts/base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper {{ color_main }}">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header {{ color_main }} lighten-5">
          {% block blog_header %}{% endblock %}
        </section>

        <article class="blog-body" itemprop="articleBody">
          {% block blog_body %}{% endblock %}
        </article>

      </div>
    </section>

  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">

    <section class="aside-wrapper {{ color_aside }}">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header {{ color_aside }} lighten-4">
          {% block widget_header %}{% endblock %}
        </div>

        <div class="widget-body">
          {% block widget_body %}{% endblock %}
        </div>

      </div>
    </section>

  </aside>
{% endblock %}
