
  <div class="main_title"> 
    <h2 class="title is-4" itemprop="name headline">
      <a href="{{ SITEURL }}/{{ article.url }}"
       >{{ article.title }}</a></h2>
    <p>{{ article.locale_date }},
      by <a href="{{ SITEURL }}/{{ article.author.url }}"
           >{{ article.author }}</a></p>
  </div>
