
  <ul>
  {% for article in dates %}
    <li>
      <span class="fa fa-calendar"></span>&nbsp;
      {{ article.date.day }}:&nbsp;
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" 
         title="Permalink to {{ article.title|striptags }}"
          >{{ article.title }}</a>
    </li>
  {% endfor %}
  </ul>
