
  <div id="archive">
  <div class="archive-list p-y-5">
  {% for article in dates %}
    <div class="archive-item">
      <div class="is-pulled-left">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" 
           title="Permalink to {{ article.title|striptags }}"
            >{{ article.title }}</a>
      </div>
      <div class="is-pulled-right has-text-right">
        <time>
          {{ article.date.strftime("%d %b") }}&nbsp;
          <span class="fa fa-calendar"></span>
        </time></div>
      <div class="is-clearfix"></div>
    </div>
  {% endfor %}
  </div>
  </div>
