{% extends "layouts/columns-single.html" %}

{% block blog_header %}
  <div class="main_title">
  {% block content_title %}
    <h2 class="title is-4" itemprop="name headline">
      {{ headtitle }}</h2>
  {% endblock %}  
  </div>
{% endblock %}

{% block blog_body %}
  {% include 'index/blog-list.html' %}
  <br/>
  {% include 'pagination/06-screenreader.html' %}  
{% endblock %}

{#
  {% include 'pagination/01-simple.html' %}
  {% include 'pagination/02-number.html' %}
  {% include 'pagination/03-adjacent.html' %}
  {% include 'pagination/04-indicator.html' %}
  {% include 'pagination/05-responsive.html' %}
  {% include 'pagination/06-screenreader.html' %}  
#}

