<section class="aside-wrapper {{ widget_color }}">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ widget_color }} lighten-4">
      {% block widget_header %}{% endblock %}
    </div>
    
    <div class="widget-body">
      {% block widget_body %}{% endblock %}
    </div>

  </div>
</section>
