{% extends "base.html" %}

{% set headtitle = "Archives | " ~ SITENAME %}

{% block content %}
  <h1>All Archives</h1>

  <dl>
  {% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" 
           title="Permalink to {{ article.title|striptags }}"
          >{{ article.title }}</a></dd>
    <br/>
  {% endfor %}
  </dl>
{% endblock %}
