{% extends "base.html" %}

{% set headtitle = article.title %}

{% block content %}
  <h1>{{ article.title }}</h1>
  <strong>This is an article kind layout.</strong>
  <br/>

  {{ article.content }}
  <hr/>
{% endblock %}

