{% extends "base.html" %}

{% set headtitle = "Authors | " ~ SITENAME %}

{% block content %}
  <h1>All Authors</h1>

  <ul>
  {% for author, articles in authors|sort %}
    <li><a href="{{ SITEURL }}/{{ author.url }}"
          >{{ author }}</a> ({{ articles|count }})</li>
  {% endfor %}
  </ul>
{% endblock %}
