{% extends "base.html" %}

{% set headtitle = "Categories | " ~ SITENAME %}

{% block content %}
  <h1>All Categories</h1>

  <ul>
  {% for category, articles in categories|sort %}
    <li><a href="{{ SITEURL }}/{{ category.url }}"
          >{{ category }}</a> ({{ articles|count }})</li>
  {% endfor %}
  </ul>
{% endblock %}
