{% extends "base.html" %}

{% set headtitle = "Tags | " ~ SITENAME %}

{% block content %}
  <h1>All Tags</h1>

  <ul>
  {% for tag, articles in tags|sort %}
    <li><a href="{{ SITEURL }}/{{ tag.url }}"
          >{{ tag }}</a> ({{ articles|count }})</li>
  {% endfor %}
  </ul>
{% endblock %}
