{% extends "base.html" %}

{% set headtitle = "Archives | " ~ SITENAME %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">
    <article class="blog-post box">
      <h2 class="title is-4"
        >All Archives</h2>

      <ul>
      {% for group in dates 
           | groupby('date.year') 
           | sort(reverse=True) %}
        <li>
          <strong>{{ group.grouper }}</strong>
          <ul>
          {% for article in group.list %}
            <li><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" 
                   title="Permalink to {{ article.title|striptags }}"
                  >{{ article.title }}</a></li>
          {% endfor %}
          </ul>
          <br/>
        </li>
      {% endfor %}
      </ul>

    </article>
  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">
    <div class="box">
      This is an all archives kind layout.
    </div>
  </aside>
{% endblock %}
