{% extends "base.html" %}

{% set headtitle = article.title %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">
    <article class="blog-post box">
      <h2 class="title is-4"
        >{{ article.title }}</h2>
      <p  class="blog-post-meta"
        >{{ article.locale_date }},
        by <a href="{{ SITEURL }}/{{ article.author.url }}"
             >{{ article.author }}</a></p>
      <br/>
      {{ article.content }}
    </article>
  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">
    <div class="box">
      This is a post kind layout.
    </div>
  </aside>
{% endblock %}
