{% extends "base.html" %}

{% set headtitle = "Authors | " ~ SITENAME %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">
    <article class="blog-post box">
      <h2 class="title is-4"
        >All Authors</h2>

      <ul>
      {% for author, articles in authors|sort %}
        <li><a href="{{ SITEURL }}/{{ author.url }}"
              >{{ author }}</a> ({{ articles|count }})</li>
      {% endfor %}
      </ul>
    </article>
  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">
    <div class="box">
      This is an all authors kind layout.
    </div>
  </aside>
{% endblock %}
