<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'site/head.html' %}
</head>

<body>
  <!-- header -->
  {% include 'site/header.html' %}

  <!-- main -->
  {% block content %}
  <div class="columns is-8 layout-base maxwidth">
    {% block main %}
    {% endblock %}
    
    {% block aside %}
    {% endblock %}
  </div><!-- columns -->
  {% endblock %}

  <!-- footer -->
  {% include 'site/footer.html' %}
  {% include 'site/scripts.html' %}
</body>

</html>
