{% extends "base.html" %}

{% set headtitle = "Categories | " ~ SITENAME %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">
    <article class="blog-post box">
      <h2 class="title is-4"
        >All Categories</h2>

      <ul>
      {% for category, articles in categories|sort %}
        <li><a href="{{ SITEURL }}/{{ category.url }}"
              >{{ category }}</a> ({{ articles|count }})</li>
      {% endfor %}
      </ul>
    </article>
  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">
    <div class="box">
      This is an all categories kind layout.
    </div>
  </aside>
{% endblock %}
