{% extends "base.html" %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">
    <article class="blog-post box">
      {% block content_title %}
        <h2 class="title is-4">{{ headtitle }}</h2>

        <blockquote>To live a double life,
        to fail to prevent her abduction,
        erase her identity, 
        force her into hiding,
        take away all she has known.</blockquote>
      {% endblock %} 
      <br/>

      {% for article in articles_page.object_list %}
      <div>
        <h2 class="title is-4">
          <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" 
             title="Permalink to {{ article.title|striptags }}"
             >{{ article.title }}</a></h2>
        <div>{{ article.summary }}</div>
        <br/>
      </div>
      {% endfor %}
    </article>
  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">
    <div class="box">
      This is a home kind layout,
      to show landing page.
    </div>
  </aside>
{% endblock %}
