{% extends "base.html" %}

{% set headtitle = page.title %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">
    <article class="blog-post box">
      <h2 class="title is-4"
        >{{ page.title }}</h2>
      <br/>
      {{ page.content }}
    </article>
  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">
    <div class="box">
      This is a page kind layout.
    </div>
  </aside>
{% endblock %}
