{% extends "base.html" %}

{% set periodtitle = period | reverse | join(' ') %}
{% set headtitle = "Archives | " ~ periodtitle %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">
    <article class="blog-post box">
      <h2 class="title is-4"
        >Archives for {{ periodtitle }}</h2>

      <dl>
      {% for article in dates %}
        <dt>{{ article.locale_date }}</dt>
        <dd><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" 
               title="Permalink to {{ article.title|striptags }}"
              >{{ article.title }}</a></dd>
        <br/>
      {% endfor %}
      </dl>
    </article>
  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">
    <div class="box">
      This is a period archives kind layout.
      Archive by year or by month.
    </div>
  </aside>
{% endblock %}
