{% extends "base.html" %}

{% set headtitle = "Tags | " ~ SITENAME %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">
    <article class="blog-post box">
      <h2 class="title is-4"
        >All Tags</h2>

      <ul>
      {% for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}"
              >{{ tag }}</a> ({{ articles|count }})</li>
      {% endfor %}
      </ul>
    </article>
  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">
    <div class="box">
      This is an all tags kind layout.
    </div>
  </aside>
{% endblock %}
