{% extends "layouts/columns-double.html" %}

{% set headtitle = article.title %}

{% set color_main  = 'blue' %}
{% set color_aside = 'teal' %}

{% block blog_header %}
  {% include 'article/blog-header.html' %}
{% endblock %}

{% block blog_body %}
  {{ article.content }}
{% endblock %}

{% block widget_header %}
  <strong>Side Menu</strong>
  <span class="fas fa-scroll is-pulled-right"></span>
{% endblock %}

{% block widget_body %}
  This is a post kind layout.
{% endblock %}
