{% extends "layouts/columns-double.html" %}

{% set headtitle = "Authors | " ~ SITENAME %}

{% set color_main  = 'brown' %}
{% set color_aside = 'light-green' %}

{% block blog_header %}
  <div class="main_title"> 
     <h2 class="title is-4" itemprop="name headline">
       All Authors</h2>
  </div>
{% endblock %}

{% block blog_body %}
  {% set terms = authors %}
  {% set icon  = 'fa fa-user' %}
  {% include 'index/terms-badge.html' %}
  {% include 'index/terms-tree.html' %}
{% endblock %}

{% block widget_header %}
  <strong>Side Menu</strong>
  <span class="fas fa-fingerprint is-pulled-right"></span>
{% endblock %}

{% block widget_body %}
  This is an all authors kind layout.
{% endblock %}
