{% extends "layouts/columns-double.html" %}

{% set headtitle = "Categories | " ~ SITENAME %}

{% set color_main  = 'indigo' %}
{% set color_aside = 'orange' %}

{% block blog_header %}
  <div class="main_title"> 
     <h2 class="title is-4" itemprop="name headline">
       All Categories</h2>
  </div>
{% endblock %}

{% block blog_body %}
  {% set terms = categories %}
  {% set icon  = 'fas fa-folder' %}
  {% include 'index/terms-badge.html' %}
  {% include 'index/terms-tree.html' %}
{% endblock %}

{% block widget_header %}
  <strong>Side Menu</strong>
  <span class="fas fa fa-folder is-pulled-right"></span>
{% endblock %}

{% block widget_body %}
  This is an all categories kind layout.
{% endblock %}
