{% extends "layouts/columns-double.html" %}

{% set headtitle = page.title %}

{% set color_main  = 'pink' %}
{% set color_aside = 'green' %}

{% block blog_header %}
  {% include 'page/blog-header.html' %}
{% endblock %}

{% block blog_body %}
  {{ page.content }}
{% endblock %}

{% block widget_header %}
  <strong>Side Menu</strong>
  <span class="fas fa-fingerprint is-pulled-right"></span>
{% endblock %}

{% block widget_body %}
  This is a page kind layout.
{% endblock %}
