{% extends "layouts/columns-double.html" %}

{% set headtitle = "Tags | " ~ SITENAME %}

{% set color_main  = 'light-blue' %}
{% set color_aside = 'lime' %}

{% block blog_header %}
  <div class="main_title"> 
     <h2 class="title is-4" itemprop="name headline">
       All Tags</h2>
  </div>
{% endblock %}

{% block blog_body %}
  {% set terms = tags %}
  {% set icon  = 'fa fa-calendar' %}
  {% include 'index/terms-badge.html' %}
  {% include 'index/terms-tree.html' %}
{% endblock %}

{% block widget_header %}
  <strong>Side Menu</strong>
  <span class="fa fa-tag is-pulled-right"></span>
{% endblock %}

{% block widget_body %}
  This is an all tags kind layout.
{% endblock %}
