{% extends "base.html" %}

{% set periodtitle = period | reverse | join(' ') %}
{% set headtitle = "Archives | " ~ periodtitle %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">

    <section class="main-wrapper cyan">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header cyan lighten-5">
          <div class="main_title"> 
            <h2 class="title is-4" itemprop="name headline">
              Archives for {{ periodtitle }}</h2>
          </div>
        </section>

        <article class="blog-body"
                 itemprop="articleBody">
          {% if period[1] %}
            {% include 'index/by-month.html' %}
          {% else %}
            {% include 'index/by-year.html' %}
          {% endif %}
        </article>

      </div>
    </section>

  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">

    <section class="aside-wrapper purple">
      <div class="widget white z-depth-3 hoverable">

        <div class="widget-header purple lighten-4">
          <strong>Side Menu</strong>
          <span class="fas fa-fingerprint is-pulled-right"></span>
        </div>

        <div class="widget-body">
          This is a period archives kind layout.
          Archive by year or by month.
        </div>

      </div>
    </section>

  </aside>
{% endblock %}
