{% extends "layouts/columns-double.html" %}

{% set color_main = 'blue' %}

{% block blog_header %}
  {% include 'page/blog-header.html' %}
{% endblock %}

{% block blog_body %}
  <div class="p-2">
    <form action="get" id="search_site">
      <label for="search_box">Search</label>
      <input type="text" id="search_box">
      <input type="submit" value="search">
    </form>

    <ul id="search_results" class="list-unstyled"></ul>
  </div>
{% endblock %}

{% block aside_content %}
  {% include 'page/aside-content.html' %}
{% endblock %}

{% block custom_javascript %}
  <script src="{{ SITEURL }}/theme/js/search-native.js"></script>
{% endblock %}
