
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% if not headtitle %}{% set headtitle = SITENAME %}{% endif %}
  <title>{{ headtitle }}</title>

  <link rel="stylesheet" type="text/css"
        href="{{ SITEURL }}/theme/css/bulma.css">
  <link rel="stylesheet" type="text/css"
        href="{{ SITEURL }}/theme/css/helper.css">
  <link rel="stylesheet" type="text/css"
        href="{{ SITEURL }}/theme/css/fontawesome.css">
  <link rel="stylesheet" type="text/css"
        href="{{ SITEURL }}/theme/css/main.css">

  <link rel="shortcut icon" type="image/vnd.microsoft.icon"
        href="{{ SITEURL }}/theme/favicon.ico"/>
