html {
  height: 100%;
  overflow-y: auto;
}

body {
  background-image: url("../images/light-grey-terrazzo.png");
  min-height: 100%;
}

.maxwidth {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1216px) {
  .maxwidth {
    max-width: 1216px;
  }
}

.layout-base {
  padding-top: 5rem;
}

footer.site-footer {
  padding-top: 4rem;
}

.blog-post p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #2196F3;
}
