<html>

<head>
  {% include 'site/head.html' %}
</head>

<body>
{% include 'site/header.html' %}

  <div id="content">
    {% block content %}{% endblock %}
  </div>

{% include 'site/footer.html' %}
</body>

</html>
