{% extends "base.html" %}

{% block content %}
  <h1>{{ SITENAME }}</h1>

  <strong>To shield from terrors known and unknown?
  To lie, to deceive?</strong>

  <dl>
  {% for article in articles_page.object_list %}
    <dt><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" 
           title="Permalink to {{ article.title|striptags }}"
          >{{ article.title }}</a></dt>
    <dd>{{ article.summary }}</dd>
    <br/>
  {% endfor %}
  </dl>

{% endblock %}
